* {
    font-family:sans-serif ;
    font-size: 16px;
    box-sizing: border-box;
    padding:5px;
    
    

}

:root {
    --dark: rgb(92, 27, 87);
    --hover: #00d0ff;
    --medium: rgba(92, 27, 87, 0.699);
    --maintxt: aliceblue;
}

/*header*/
header {
    background-color: var(--dark);
    color: var(--maintxt);
    padding: 0px 10px 3px 10px;
    position: fixed;
    width: 98%;
    margin-top: 0;
}
/*nav bar*/
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark);
 
    margin-top: -15px;
    
} 
nav a{
    text-align: center;
    font-size: 125%;
    color: var(--maintxt);
    text-decoration: none;
    margin: 0px 10px;
}
nav a:hover {
    color: var(--hover);
    font-weight: bolder;
    cursor: pointer;
}

header h1 {
    font-family: 'Quickand';
    font-size: 300%;
    font-weight: lighter;
    padding-left: 15px;
    text-shadow: 7px 7px 5px black;
}

h2 {
    background-color: var(--dark);
    text-align: right;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 150%;
    font-weight: lighter;
    color: black;
    padding-right: 20px;
}

/*main*/
main {
    margin-top: 250px;
}

article {
    width: 100%;
    background-color: var(--medium);
    padding-bottom: 20px;
}
article *h3 {
    width: 30%;
    height: 15px;
    font-size: 115%;   
}
article *p {
    padding: 10px, 10px;   
}

/*Work*/

#projects {
    flex: 4;
    background-color: var(--medium);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#projects section {
    width: 500px;
    height: 500px;
}
.work {
    flex: 0 0 500px;
    padding: 20px;
    width: 500px;
    height: 500px;

}
section div p {
    font-weight: bold;
    border: 10px solid var(--dark);
    background-color: var(--hover);
    width: auto;
}
.link {
    text-decoration: none;
    color: black;
}
.link a:hover {
    color: var(--dark);
    font-weight: bolder;
    cursor: pointer;
}
.web {
    background-image: url("./images/webpage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cal {
    background-image: url("./images/calculator.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}.calen {
    background-image: url("./images/calender.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}.task {
    background-image: url("./images/task.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*Contact*/
.contact {
    display: flex;
    flex-wrap: wrap;
}
article a {
    font-size: 125%;
    text-decoration: none;
    width: auto;
    margin: 0px 10px;
    color: black;
}
article a:hover {
    color: var(--hover);
    font-weight: bolder;
    cursor: pointer;
}

/*Work*/
#work { 

    background-color: var(--medium);
}
#hwork{
    background-color: var(--medium);
}

/*responsive*/
@media screen and (max-width: 450px ) {
    .work, nav a, article a, .cal, .calen, .clock, .task{
        width: 100%;

}
 
}
@media screen and (max-width: 600px) {
  {
    }
    
}

@media screen and (max-width: 1000px) {

    
}