* {
    font-family:sans-serif ;
    font-size: 16px;
    box-sizing: border-box;

}

:root {
    --dark: rgb(92, 27, 87);
    --hover: #00d0ff;
    --medium: rgba(92, 27, 87, 0.699);
    --maintxt: aliceblue;
}

/*header*/
header {
    background-color: var(--dark);
    color: var(--maintxt);
    padding: 0px 10px 3px 10px;
    
    
}
/*nav bar*/
nav {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark);
} 
nav a{
    text-align: center;
    font-size: 125%;
    color: var(--maintxt);
    text-decoration: none;
    margin: 0px 10px;
}
nav a:hover {
    color: var(--hover);
    font-weight: bolder;
    cursor: pointer;
}

header h1 {
    font-family: 'Quickand';
    font-size: 300%;
    font-weight: lighter;
    padding-left: 15px;
    text-shadow: 7px 7px 5px black;
}

h2 {
    background-color: var(--dark);
    text-align: right;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 150%;
    font-weight: lighter;
}

/*main*/
main {

    
}

article {
    background-color: var(--medium);
    padding-bottom: 20px;
    
}

article *h3 {
    position: relative;
    width: 30%;
    height: 15px;
    font-size: 115%;
    float: left;
    
}



article *p {
    padding: 10px, 10px;
    
    
}
div {
    position: relative;
    width: 500px;
}
.work {
   
     
}
img {

    width: 50%;
    border: 10px solid var(--hover);
}
div p {
    position: absolute;
    padding: 15px;
    top: 50px;
    left: 10px;
    background-color: var(--hover);
    border: 5px solid black;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}
article a {
    font-size: 125%;
    text-decoration: none;
    width: auto;
    margin: 0px 10px;
    color: black;
}
article a:hover {
    color: var(--hover);
    font-weight: bolder;
    cursor: pointer;
}


/*responsive*/
@media screen and (max-width: 450px ) {
    main article, nav a, article a {
        width: 100%;
        
    }
    
}